@using HotelProject.Business.Responses.About
@using HotelProject.Entities.Dto_s.AboutDto

@model HotelProject.Business.Requests.About.UpdateAboutRequest 
@* 
@{
    Layout = "_Layout";
} *@
<div style="margin-top:15%">
<form method="post" asp-action="UpdateAbout" asp-controller="About" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="hidden" class="form-control" value="@Model.Id" name="Id" id="Id" aria-label="Id">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Title1" id="Title1" value="@Model.Title1" placeholder="Title1" aria-label="Title1">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Title2" id="Title2" value="@Model.Title2" placeholder="Title2" aria-label="Title2" />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Content" id="Content" value="@Model.Content" placeholder="Content" aria-label="Content">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="RoomCount" id="RoomCount" value="@Model.RoomCount" placeholder="RoomCount" aria-label="RoomCount">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="StaffCount" id="StaffCount" value="@Model.StaffCount" placeholder="StaffCount" aria-label="StaffCount">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="CustomerCount" id="CustomerCount" value="@Model.CustomerCount" placeholder="CustomerCount" aria-label="CustomerCount">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>