@using HotelProject.Business.Responses.Testimonial
@using HotelProject.Entities.Dto_s.TestimonialDto

@model List<TestimonialListItemDto>
@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:blue">@item.Id</td>
                <td style="color:red">@item.Name</td>
                <td style="color:red">@item.Title</td>
                <td style="color:red">@item.Description</td>
                <td>
                    <a asp-action="GetById" asp-controller="Testimonial" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a>
                    <form asp-action="DeleteTestimonial" asp-controller="Testimonial" method="post" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
