@using HotelProject.Business.Responses.Testimonial
@using HotelProject.Entities.Dto_s.TestimonialDto

@model HotelProject.Business.Requests.Testimonial.UpdateTestimonialRequest

@{
    Layout = "_Layout";
}

<form method="post" action="@Url.Action("UpdateGuest", "Guest")" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="hidden" class="form-control" value="@Model.Id" name="Id" id="Id" aria-label="Id">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" placeholder="Title" aria-label="Title" />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" placeholder="Description" aria-label="Description">
    </div>


    <button type="submit" class="btn btn-primary">Update</button>
</form>
