@using HotelProject.Business.Responses.Booking
@using HotelProject.Entities.Dto_s.BookingDto

@model List<BookingListItemDto>
@{
    Layout = "_Layout";
}

@if (Model == null || !Model.Any())
{
    <p>Henüz kullanıcı yok.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Mail</th>
                <th scope="col">CheckIn</th>
                <th scope="col">CheckOut</th>
                <th scope="col">Adult Count</th>
                <th scope="col">Children Count</th>
                <th scope="col">Room Count</th>
                <th scope="col">Special Request</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:blue">@item.Id</td>
                    <td style="color:red">@item.Name</td>
                    <td style="color:red">@item.Mail</td>
                    <td style="color:red">@item.CheckIn</td>
                    <td style="color:red">@item.CheckOut</td>
                    <td style="color:red">@item.AdultCount</td>
                    <td style="color:red">@item.ChildrenCount</td>
                    <td style="color:red">@item.RoomCount</td>
                    <td style="color:red">@item.SpecialRequest</td>
                    <td style="color:red">@item.Description</td>
                    <td style="color:red">@item.Status</td>
                    <td style="color:red">@item.City</td>
                    <td style="color:red">@item.Country</td>
                    <td>
                        <a asp-action="GetById" asp-controller="Booking" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a>
                        <form method="post" asp-action="DeleteBooking" asp-controller="About" style="display:inline;">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
