@using HotelProject.Business.Responses.Staff
@using HotelProject.Entities.Dto_s.StaffDto

@model HotelProject.Business.Requests.Staff.UpdateStaffRequest

@{
    Layout = "_Layout";
}

<form method="post" action="@Url.Action("UpdateStaff", "Staff")" enctype="multipart/form-data">
    <div class="input-group flex-nowrap">
        <input type="hidden" class="form-control" value="@Model.Id" name="Id" id="Id" aria-label="Id">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" placeholder="Name" aria-label="Name">
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" placeholder="Title" aria-label="Title" />
    </div>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" name="Image" id="Image" value="@Model.Image" placeholder="Image" aria-label="Image">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="Github" id="Github" value="@Model.Github" placeholder="Github" aria-label="Github">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="Instagram" id="Instagram" value="@Model.Instagram" placeholder="Instagram" aria-label="Instagram">
    </div>
    <div class="input-group flex-nowrap">
        <input type="number" class="form-control" name="Linkedin" id="Linkedin" value="@Model.Linkedin" placeholder="Linkedin" aria-label="Linkedin">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
