@using HotelProject.Business.Responses.WorkLocation
@using HotelProject.Entities.Dto_s.WorkLocationDto

@model List<WorkLocationListItemDto>
@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">WorkLocation Name</th>
            <th scope="col">WorkLocation City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row" style="color:blue">
                    @item.Id
                </th>
                <th scope="row" style="color:red">
                    @item.WorkLocationName
                </th>
                <th scope="row" style="color:red">
                    @item.WorkLocationCity
                </th>

                <th>

                    <form method="post" action="@Url.Action("DeleteWorkLocation", "WorkLocation")" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>

</table>