@using HotelProject.Business.Responses.Service
@using HotelProject.Entities.Dto_s.ServiceDto

@model List<ServiceListItemDto>
@{
    Layout = "_Layout";
}
<div style="margin-top:15%">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Icon</th>
            <th scope="col">Description</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:blue">@item.Id</td>
                <td style="color:red">@item.Title</td>
                <td style="color:red">@item.Icon</td>
                <td style="color:red">@item.Description</td>
                <td>
                    <a asp-action="GetById" asp-controller="Service" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a>
                    <form method="post" asp-action="DeleteService" asp-controller="Service" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>